{% extends "mobile/base.html"%}

{% block title %}Cours{% endblock %}

{% block body %}
<p>
    <a href="{% url mobile.tutos.list_official %}">Voir les tutoriels officiels</a><br />
	<a href="{% url mobile.tutos.list_hits %}">Voir les tutoriels préférés des Zéros</a>
</p>
<h1>Naviguer par catégorie</h1>
{% include "mobile/tutos/chunk_hierarchy.html" %}
<dl>
    {% for cat in categories %}
        {% if cat.is_cat %}
        <dt><a href="{% url mobile.tutos.categories cat.id %}">{{ cat.name }}</a></dt>
        {% else %}
        <dt><a href="{% url mobile.tutos.list_tutorials cat.id %}">{{ cat.name }}</a></dt>
        {% endif %}
        <dd>{{ cat.description }} ({{ cat.count }} cours)</dd>
    {% endfor %}
</dl>
{% endblock %}
