<p id="pathtree">Hiérarchie&nbsp;:
{% for elem in tree %}
    <a href="{% url mobile.tutos.categories elem.id %}">{{ elem.name }}</a> &rsaquo;
{% endfor %}
    <strong>{{ current.name }} ({{ current.count }} cours)</strong>
</p>