{% extends "mobile/base.html"%}

{% block title %}Cours préférés{% endblock %}

{% block body %}
<h1>Liste des cours préférés des Zéros</h1>
{% include "mobile/chunks/paginate.html" %}
<hr/>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Titre</th>
            <th>Auteurs</th>
            <th>Fans</th>
        </tr>
    </thead>
    <tbody>
    {% for tuto in tutorials %}
        <tr>
            <td class="align-center"><img src="{{ tuto.icon }}" alt="" /></td>
            <td><a href="{% url mobile.tutos.view tuto.id %}">{{ tuto.title }}</a></td>
            <td>
            {% for author in tuto.authors %}
                {% with author as member %}{% include "mobile/chunks/member.html" %}{% endwith %}
                {% if not forloop.last %},{% endif %}
            {% endfor %}
            </td>
            <td class="align-right">{{ tuto.fans|safe }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
