{% extends "mobile/base.html"%}

{% block title %}Cours{% endblock %}

{% block body %}
<h1>Liste des cours dans {{ current.name }}</h1>
{% include "mobile/tutos/chunk_hierarchy.html" %}

<table>
    <thead>
        <tr>
            <th></th>
            <th>Titre</th>
            <th>Auteurs</th>
            <th>Visualisations</th>
            <th>Date de validation</th>
        </tr>
    </thead>
    <tbody>
    {% for tuto in tutorials %}
        <tr>
            <td class="align-center">{% if tuto.is_big %}&#9399;{% else %}m{% endif %}</td>
            <td><a href="{% url mobile.tutos.view tuto.id %}">{{ tuto.title }}</a></td>
            <td>
            {% for author in tuto.authors %}
                {% with author as member %}{% include "mobile/chunks/member.html" %}{% endwith %}
                {% if not forloop.last %},{% endif %}
            {% endfor %}
            </td>
            <td class="align-right">{{ tuto.views|safe }}</td>
            <td>{{ tuto.date_validation|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
