{% extends "mobile/base.html"%}

{% block title %}Cours officiels{% endblock %}

{% block body %}
<h1>Liste des cours officiels</h1>

<dl>
{% for cat in categories %}
    <dt>{{ cat.name }}</dt>
    <dd><ul>
    {% for tuto in cat.tutos %}
        <li><a href="{% url mobile.tutos.view tuto.id %}">{{ tuto.title }}</a></li>
    {% endfor %}
    </ul></dd>
{% endfor %}
</dl>
{% endblock %}
