{% for part in parts %}
    <h2>Partie {{ forloop.counter }}&nbsp;: {{ part.title }}</h2>
    <dl>
        {% for chapter in part.chapters %}
            <dt><a href="{% url mobile.tutos.view chapter.id %}">{{ chapter.title }}</a></dt>
            {% for paragraph in chapter.paragraphs %}
                <dd><a href="{% url mobile.tutos.view chapter.id %}#ss_part_{{ forloop.counter }}">{{ paragraph.title }}</a></dd>
            {% endfor %}
        {% endfor %}
    </dl>
{% endfor %}