{% extends "mobile/base.html"%}
{% block head %}
<link rel="stylesheet" media="screen" type="text/css" title="SdZ" href="{{ STATIC_URL }}tutos.css" />
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<p>Auteur(s)&nbsp;:
    {% for author in authors %}
        {% with author as member %}{% include "mobile/chunks/member.html" %}{% endwith %}
        {% if not forloop.last %},{% endif %}
    {% endfor %}
</p>
<p>
    Version du&nbsp;: {{ last_release|date:"SHORT_DATETIME_FORMAT" }}
    Licence&nbsp;: {{ licence|default_if_none:'inconnue' }}<br />
    Difficulté&nbsp;: {% if difficulty %}<span class="diff-box diff-{{ difficulty.code }}"></span>{{ difficulty.text }}{% else %}inconnue{% endif %}<br />
    Temps d'étude estimé&nbsp;: {{ time_to_finish|default_if_none:'inconnu' }}
</p>
<hr />
<h2>Introduction</h2>
{{ introduction|safe }}

{% if is_big %}
    {% include "mobile/tutos/view_big_tuto.html" %}
{% else %}
    {% include "mobile/tutos/view_mini_tuto.html" %}
{% endif %}

<hr />
<h2>Conclusion</h2>
{{ conclusion|safe }}

{% endblock %}
