<hr />
<h2>Sommaire</h2>
<ul>
{% for para in paragraphs %}
    <li><a href="#{{ para.anchor }}">{{ para.title }}</a></li>
{% endfor %}
</ul>
<hr />
{% for para in paragraphs %}
    <h2 id="{{ para.anchor }}">{{ para.title }}</h2>
    {{ para.content|safe }}
{% endfor %}
