<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <head>
        <title>{% block title %}{% endblock %} - SdZmoar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" media="screen" type="text/css" href="{{ STATIC_URL }}mobile.css" />
        <meta name="HandheldFriendly" content="true" />
        <script type="text/javascript" src="{{ STATIC_URL }}mobile.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <img src="{{ STATIC_URL }}img/sdz.png" alt="" style="height: 48px; width: 48px;" />
            Version mobile du Site du Zéro
        </div>
        <div id="menu">
            <a href="{% url mobile.index.index %}">Accueil</a> /
            <a href="{% url mobile.news.index  %}">News</a> /
            <a href="{% url mobile.tutos.index %}">Cours</a> /
            <a href="{% url mobile.forums.index  %}">Forums</a>
        </div>
        <div id="body">
            {% block body %}{% endblock %}
        </div>
        <div id="footer">
            <hr />
            SdZmoar, version mobile non officielle du Site du Zéro.
        </div>
    </body>
</html>
