{% extends "mobile/base.html" %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <p>
    Bienvenue sur une version mobile du Site du Zéro.<br />
    SdZmoar, le site fournissant ce service, est un logiciel libre, propulsé par le
    <em>framework</em> Django.
    Le code source, ainsi que la documentation et le bug tracker sont
    disponibles sur <a href="https://code.zopieux.com/sdzmoar/">Bitbucket</a>.
  </p>
  <p>
    Veuillez noter que SdZmoar n'est en aucun cas affilié au Site du Zéro,
    et ne peut être tenu pour responsable du contenu du site et/ou
    des actions des utilisateurs.
  </p>
  <p>
    SdZmoar est un <em>fork</em> de SdZ++, développé par ProgVal.
  </p>
{% endblock %}
