{% load utils %}
{% value_from_settings "PAGE_GETPARAM" as PAGE_GETPARAM %}
{% if pager.reversed %}
    {% if pager.has_next %} <a href="?{{ PAGE_GETPARAM }}={{ pager.current|add:"1" }}">Suivante</a>{% endif %}
{% else %}
    {% if pager.has_previous %}<a href="?{{ PAGE_GETPARAM }}={{ pager.current|add:"-1" }}">Précédente</a>{% endif %}
{% endif %}

{% for page in pager %}
    {% if page == pager.current %}
        <span class="current-page">{{ page }}</span>
    {% else %}
        {% if page == None %}
            …
        {% else %}
            <a href="?{{ PAGE_GETPARAM }}={{ page }}">{{ page }}</a>
        {% endif %}
    {% endif %}
{% endfor %}
{% if pager.reversed %}
    {% if pager.has_previous %}<a href="?{{ PAGE_GETPARAM }}={{ pager.current|add:"-1" }}">Précédente</a>{% endif %}
{% else %}
    {% if pager.has_next %} <a href="?{{ PAGE_GETPARAM }}={{ pager.current|add:"1" }}">Suivante</a>{% endif %}
{% endif %}


{% if pager.should_render_combo %}
    <select class="page-jump" onchange="document.location.href='?{{ PAGE_GETPARAM }}=' + this.options[this.selectedIndex].value;">
    {% for page in pager.range %}
        <option value="{{ page }}"{% if page == pager.current %} selected="selected"{% endif %}>{{ page }}</option>
    {% endfor %}
    </select>
{% endif%}