{% extends "mobile/base.html"%}
{% load utils %}

{% block title %}News{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
{% include "mobile/chunks/paginate.html" %}
{% for news in news_list %}
    <div class="news">
        <div>
            <img src="{{ news.logo }}" alt="" class="small" />
            <a href="{% url mobile.news.show news.id %}">{{ news.title }}</a>
            (<a href="{% url mobile.news.show_comments news.id %}">{{ news.com_count|thsep }} &nbsp;&#9993;</a>)
        </div>
        {{ news.short }}…
    </div>
    <hr />
{% endfor %}
{% include "mobile/chunks/paginate.html" %}
{% endblock %}
