{% extends "mobile/base.html" %}

{% block title %}Commentaires{% endblock %}

{% block body %}
{% include "mobile/chunks/paginate.html" %}
<hr />
{% for comment in comment_list %}
	<div>
		{% with comment.author as member %}{% include "mobile/chunks/member.html" %}{% endwith %} –
	{% if comment.deleted %}
		<em>Commentaire supprimé ({{ comment.deletion_reason }})</em>
	{% else %}
		Posté le {{ comment.posted_on|date:"SHORT_DATETIME_FORMAT" }}<br />
		{{ comment.content|safe }}
	{% endif %}
	</div>
	<hr />
{% endfor %}
{% include "mobile/chunks/paginate.html" %}
{% endblock %}
