{% extends "mobile/base.html"%}
{% load utils %}

{% block title %}{{ title }} - News{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<p class="contributors">
	Contributeurs&nbsp;:
{% for author in authors %}
	{% with author as member %}{% include "mobile/chunks/member.html" %}{% endwith %}
    {% if not forloop.last %},{% endif %}
{% endfor %}
</p>
<p><a href="{% url mobile.news.show_comments news_id %}">Voir les {{ com_count|thsep }} commentaires</a></p>
<hr/>
<div class="news_body">
	{{ content|safe }}
</div>
<hr/>
<p><a href="{% url mobile.news.show_comments news_id %}">Voir les {{ com_count|thsep }} commentaires</a></p>
{% endblock %}
