{% extends "mobile/base.html"%}

{% block title %}{{ pseudo }}{% endblock %}

{% block body %}
<h2>Informations</h2>
<dl>
	<dt>Pseudonyme</dt><dd>{{ name }}</dd>
	<dt>Groupe</dt><dd>{{ group }}</dd>
	<dt>Date d'inscription</dt><dd>{{ date_registered|date:"SHORT_DATETIME_FORMAT" }}</dd>
	<dt>Dernière visite</dt><dd>{{ date_lastseen|date:"SHORT_DATETIME_FORMAT" }}</dd>
	<dt>En ligne</dt><dd>{% if online %}oui{% else %}non{% endif %}</dd>
</dl>

<h2>Statistiques d'activité</h2>
<dl>
	{% for type in activity %}
		<dt>{{ type.name }}</dt><dd>{{ type.value|default:"aucun" }}</dd>
	{% endfor %}
</dl>

<h2>Profil</h2>
<dl>
	{% for type in profile %}
        {% if type.value %}
		    <dt>{{ type.name }}</dt><dd>{{ type.value|safe }}</dd>
        {% endif %}
	{% endfor %}
</dl>

<h2>Signature</h2>
<div>
	{{ signature|safe }}
</div>

<h2>Biographie</h2>
<div>
	{{ mylife|safe }}
</div>
{% endblock %}
