{% extends "mobile/base.html" %}

{% block title %}Erreur critique{% endblock %}

{% block body %}
<h1>Erreur critique</h1>

<p>Le serveur a rencontré une erreur critique. Veuillez réessayer dans un moment.</p>

{% if reason != None %}
    <p>Raison&nbsp;: {{ reason }}</p>
{% else %}
    <p>Cette erreur est inexpliquée. Le gestionnaire du site en a été informé.</p>
{% endif %}

{% endblock %}
