{% extends "mobile/base.html"%}
{% load utils %}

{% block title %}{{ title }} - Forum{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
{% include "mobile/chunks/paginate.html" %}
<hr/>
<dl>
	{% for topic in topics %}
		<dt>
			{% if topic.postit %}&#9733;{% endif %}
			{% if topic.closed %}&#8709;{% endif %}
			{% if topic.solved %}&#10003;{% endif %}
			{% if topic.moved %}&rarr;{% endif %}
			<a href="{% url mobile.forums.topic topic.id %}">{{ topic.title }}</a>
			par {% with topic.author as member %}{% include "mobile/chunks/member.html" %}{% endwith %}
			{% if not topic.moved %}({{ topic.messages|thsep }}&nbsp;&#9993;){% endif %}
		</dt>
		<dd>
			{{ topic.subtitle|default_if_none:'' }}
		</dd>
		<hr/>
	{% endfor %}
</dl>

{% include "mobile/chunks/paginate.html" %}
{% endblock %}
