{% extends "mobile/base.html"%}
{% load utils %}

{% block title %}Forum{% endblock %}

{% block body %}
<dl>
    {% for category in categories %}
        <dt>
            {{ category.name }}
        </dt>
        <dd>
            <dl>
                {% for forum in category.forums %}
                    {% if forum.redirection %}
                    <dt>
                        <a href="{{ forum.redirection }}">{{ forum.name }}</a> &rarr; (lien externe)
                    </dt>
                    {% else %}
                    <dt>
                        <a href="{% url mobile.forums.category forum.id %}">
                            {{ forum.name }}
                        </a>
                    </dt>
                    {% endif %}
                    <dd>
                        {% if forum.description %}{{ forum.description }}<br/>{% endif %}
                        {% if not forum.redirection %}
                            <em>{{ forum.count_topics|thsep }} sujets, {{ forum.count_messages|thsep }} réponses</em>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </dd>
    {% endfor %}
</dl>
{% endblock %}
