{% extends "mobile/base.html"%}

{% block title %}{{ topic_title }} - Sujet{% endblock %}

{% block body %}
<h1>{{ topic_title }}</h1>
{% include "mobile/chunks/paginate.html" %}
<hr />

{% for message in messages %}
	<div>
		{% with message.author as member %}{% include "mobile/chunks/member.html" %}{% endwith %} –
		{% if message.deleted %}
            {% if message.deleted_self %}
                Supprimé par l'auteur
            {% else %}
                Supprimé&nbsp;: <em>{{ message.deletion_reason }}</em>
            {% endif %}
        {% else %}
        Posté le {{ message.posted_on|date:"SHORT_DATETIME_FORMAT" }}
        {% endif %}
        {% if message.helping %}– Cette réponse a aidé &#10003;{% endif %}<br />
		{{ message.content|safe }}
		{% if message.date_edition %}
			<div class="message_edite">
				édité le {{ message.date_edition|date:"SHORT_DATETIME_FORMAT" }} par {% with message.edition_author as member %}{% include "mobile/chunks/member.html" %}{% endwith %}
				{% if message.edition_by_other %}(&#8800; l'auteur){% endif %}
            </div>
		{% endif %}
	</div>
    <hr />
{% endfor %}

{% include "mobile/chunks/paginate.html" %}
{% endblock %}
